<html>
    <head>

    </head>
    <body>
        <form metod="'Post">
            {% csrf_token %}
                {% for fm in form %}
                    <div>
                        {{ fm.label_tag }}
                        {{ fm }}
                        {% if fm.errors %}
                            <ul class="errorlist">
                                {% for error in fm.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endfor %}
        </form>
    </body>
</html><html>
    <head>
    </head>
    <body>
   
        <form method="POST">
            {% csrf_token %}
               {% for fm in form %}
                    <label >{{fm.label}}</label>
                    {{fm}}
                    </br>
                {% endfor %}
            <button type="submit">REKISTERÖI KÄYTTÄJÄ</button>
        </form>

    </body>
</html>